attrs==22.2.0
exceptiongroup==1.1.1
importlib-metadata==6.1.0
iniconfig==2.0.0
maturin==1.0.1
packaging==23.1
pluggy==1.0.0
pytest==7.2.2
tomli==2.0.1
typing-extensions==4.8.0
zipp==3.15.0
onnx==1.14.1
onnxruntime==1.14.1
numpy==1.23.5
pandas==2.0.3
scikit-learn==1.4.1.post1
ezkl==9.1.0
solc-select==1.0.4
torch==2.2.1
seaborn==0.13.2
kaggle==1.6.6
py-solc-x==2.0.2
web3==6.15.1
librosa==0.10.1
tensorflow==2.15.0
keras==2.15.0
tf2onnx==1.8.4
